trigger:
  tags:
    include:
      - v*
  branches:
    include:
      - master
      - feature/*

resources:
  containers:
    - container: dotnet_container
      image: mcr.microsoft.com/dotnet/sdk:8.0

pool:
  name: "CP Pool"

container: dotnet_container

variables:
  - name: buildConfiguration
    value: 'Release'
  - name: feedName
    value: 'Minio-Feed'

steps:
  - checkout: self
    fetchDepth: 0

  - script: git clean -fdx
    displayName: 'Clean Workspace'

  - script: |
      echo "Triggering ref: $(Build.SourceBranch)"
      if [[ "$(Build.SourceBranch)" =~ ^refs/tags/v ]]; then
        CLEAN_VERSION=$(echo $(Build.SourceBranchName) | sed 's/^v//')
      else
        CLEAN_VERSION="1.0.0-dev-$(Build.BuildId)"
      fi
      echo "##vso[task.setvariable variable=NUGET_VERSION]$CLEAN_VERSION"
    displayName: 'Calculate Version'

  - task: NuGetAuthenticate@1
    displayName: 'Authenticate to Azure Artifacts'
    inputs:
      feedUri: 'https://pkgs.dev.azure.com/AptarCEP/Customer%20Portal/_packaging/$(feedName)/nuget/v3/index.json'

  - task: DotNetCoreCLI@2
    displayName: 'Restore Dependencies'
    inputs:
      command: 'restore'
      projects: 'Minio/Minio.csproj'
      feedsToUse: 'select'
      vstsFeed: '$(System.TeamProject)/$(feedName)'
      includeNuGetOrg: true

  - script: |
      echo "Building Minio.csproj..."
      dotnet build Minio/Minio.csproj --configuration $(buildConfiguration) --no-restore --verbosity normal
    displayName: 'Build Project with Script'

  - task: DotNetCoreCLI@2
    displayName: 'Pack NuGet'
    inputs:
      command: 'custom'
      custom: 'pack'
      arguments: 'Minio/Minio.csproj --configuration $(buildConfiguration) --no-build --output $(Build.ArtifactStagingDirectory) /p:PackageVersion=$(NUGET_VERSION)'

  - task: DotNetCoreCLI@2
    displayName: 'Push to Azure Artifacts'
    inputs:
      command: 'custom'
      custom: 'push'
      arguments: '$(Build.ArtifactStagingDirectory)/*.nupkg --source https://pkgs.dev.azure.com/AptarCEP/Customer%20Portal/_packaging/$(feedName)/nuget/v3/index.json --api-key AzureArtifacts'
