trigger:
  tags:
    include:
      - v*
  branches:
    include:
      - master
      - feature/*

pool:
  name: "CP Pool"

variables:
  - name: buildConfiguration
    value: 'Release'
  - name: feedName
    value: 'Minio-Feed'

steps:
  - checkout: self
    fetchDepth: 0

  - script: |
      echo "Triggering ref: $(Build.SourceBranch)"
      
      # Logic: If triggered by tag 'v2.0.1', strip 'v'.
      if [[ "$(Build.SourceBranch)" =~ ^refs/tags/v ]]; then
        CLEAN_VERSION=$(echo $(Build.SourceBranchName) | sed 's/^v//')
      else
        # Fallback for branches
        CLEAN_VERSION="1.0.0-dev-$(Build.BuildId)"
      fi
      
      echo "Detected Version: $CLEAN_VERSION"
      echo "##vso[task.setvariable variable=NUGET_VERSION]$CLEAN_VERSION"
    displayName: 'Calculate Version'

  - task: NuGetAuthenticate@1
    displayName: 'Authenticate to Azure Artifacts'

  - task: DotNetCoreCLI@2
    displayName: 'Build & Pack NuGet'
    inputs:
      command: 'pack'
      packagesToPack: '**/*.csproj'
      configuration: $(buildConfiguration)
      versioningScheme: 'byEnvVar'
      versionEnvVar: 'NUGET_VERSION'

  - task: DotNetCoreCLI@2
    displayName: 'Push to Azure Artifacts'
    inputs:
      command: 'push'
      packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      publishVstsFeed: '$(System.TeamProject)/$(feedName)'
      allowPackageConflicts: true
